repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=20000"]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.7
    hooks:
    - id: clang-format
      types_or: [c++, c, cuda]

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
